.container {
  /* display: flex;
  flex: 1; */
}

.sideBarContainer {
  padding: 1%;
  width: 10vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  /* top: 50vh; */
}
